@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-sora: "Sora", sans-serif;
}

body {
  font-family: var(--font-inter);
  font-size: 1rem;
  color: #111827;
  background-color: #fff;
}

.flex-col-center {
  @apply flex flex-col items-center justify-center;
}

.flex-row-center {
  @apply flex flex-row items-center justify-center;
}

.flex-row-between {
  @apply flex flex-row items-center justify-between;
}

.flex-row-evenly {
  @apply flex flex-row items-center justify-evenly;
}

.flex-row-start {
  @apply flex flex-row items-center justify-start;
}

.flex-row-end {
  @apply flex flex-row items-center justify-end;
}

.flex-col-between {
  @apply flex flex-col items-center justify-between;
}

.flex-col-evenly {
  @apply flex flex-col items-center justify-evenly;
}

.flex-col-start {
  @apply flex flex-col items-start justify-start;
}

.flex-col-end {
  @apply flex flex-col items-center justify-end;
}

.custom-btn {
  @apply flex origin-top items-center justify-center rounded-xl border-[0.125em] py-3 text-sm font-semibold transition-all duration-150 active:translate-y-1 active:scale-[0.98] md:px-8 md:py-4 md:text-base;
}

.custom-shadow {
  box-shadow: 0 0.375em 0 0 var(--tw-shadow-colored);
}
.custom-shadow:active {
  box-shadow: 0 0.375em 0 -0.375em var(--tw-shadow-colored);
}

.responsive-nav {
  display: none !important;
}

@media (min-width: 640px) {
  .responsive-nav {
    display: flex !important;
  }
}

::-webkit-scrollbar {
  width: 0.25em;
}

::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 0.125em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

/* p-[calc((4em-(1em*1.5)-(0.125em*2)-0.375em)/2)calc(1em*1.5)] */
